#container {
    display: flex;

    flex-direction: column;
    gap: 2px;

    height: 800px;
}

.row {
    display: flex;

    flex: 1;
    gap: 2px;
    width: 800px;

}

.grid {
    background-color: black;
    flex: 1 1 1px;
}

.hovered {
    background-color: rgb(186, 186, 186);
}

.new-grid-button {
    margin: 16px 0;
}