#container {
    display: flex;

    flex-direction: column;
    gap: 4px;
}

.row {
    display: flex;

    flex: 1;
    gap: 4px;
}

.grid {
    background-color: black;

    width: 16px;
    height: 16px;

}

.hovered {
    background-color: gray;
}

.new-grid-button {
    margin: 16px 0;
}